fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
pydantic-settings
fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
pydantic[email]
passlib[bcrypt]
alembic
httpx
boto3
python-jose
python-multipart
python-jose[cryptography]
requests
